/*Gros titre décoration*/
header
{
	border: 2px solid #333;
	border-radius: 30%;
	box-shadow: 8px 10px 5px -5px #134BE2;
	background: url('titre3.jpg');
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 2%;
}
/*Bas de page*/
footer
{
	background-color: #000000;
	border: 1px solid #333;
	box-shadow: 8px 10px 5px -5px black;
	margin-top: 0%;
	display: flex;
	align-items: center;
	height: 50px;
	justify-content: center;
}
/*Gérer le texte dans le footer*/
footer a
{
	color: white;
}
/*Gros titre*/
h1
{
	text-align: center;
	color: white;
	font-size: 280%;
	text-shadow: 5px 5px 3px black;
}
/*Titre*/
h3
{
	color: #BA0A02;
}
/*Texte*/
p
{
	color: white;
}
/*Séparation (article)*/
article
{
	border: 2px solid #333;
	box-shadow: 8px 10px 5px black;
	margin-bottom: 2%;
	margin-left: 10%;
	margin-right: 10%;
	padding-right: 1%;
	padding-left: 1%
}
/*Position du texte dans le menu*/
nav
{
	align-items: center;
	height: 70px;
	justify-content: center;
	width: 85%;
	display: flex;
	background-color: black;
	border: 1px solid #333;
	border-radius: 15%;
	box-shadow: 8px 7px 5px -5px black;
	margin: 0px auto 2%;
}
/*Barre du menu*/
nav ul
{
	padding: 0px;
	width: 750px;
}
/*Case du menu*/
nav ul li
{
	display: inline-block;
	margin-right: 5%;
	margin-bottom: 0%;
	font-size: 150%;
}
/*Texte du menu*/
nav ul li a
{
	color: white;
}
/*Arrière de la case dans le menu*/
a:hover
{
	border-bottom: 2px solid #134BE2;
}
/*Mot menu et image*/
a
{
	color: #0CABFA;
	text-decoration: none;
}
/*Page*/
html, body
{
	background: #222;
	background-attachment: fixed;
	text-align: center;
	font-weight: bold;
	scroll-behavior: smooth;
}
/* Image dimension */
.logoinstallv2
{
	width: 80px;
	height: 80px;
	margin-right: 10%;
}	
.introv2
{
	width: 456px;
	height: 591px;
	box-shadow: 8px 10px 5px -5px black;
	margin-bottom: 1%
}
.introtext
{
	margin-right: 4%;
	margin-left: 4%;
}
.mapv2
{
	width: 700px;
	height: 430px;
	margin-left: 5%;
	box-shadow: 8px 10px 5px -5px black;
	margin-bottom: 1%;
}
.container
{
	display: flex;
}
.text
{
	width: 100%;
	margin-right: 5px;
	margin-top: 4%;
}
.itv2
{
	width: 700px;
	height: 460px;
	box-shadow: 8px 10px 5px -5px black;
}
.ndv2
{
	width: 916px;
	height: 562px;
	box-shadow: 8px 10px 5px -5px black;
}
.voiesv2
{
	box-shadow: 8px 10px 5px -5px black;
}
.cv
{
	color: white;
	text-align: justify;
}
.expv2
{
	width: 900px;
	height: 560px;
	box-shadow: 8px 10px 5px -5px black;
}
.POv2
{
	width: 900px;
	height: 560px;
	box-shadow: 8px 10px 5px -5px black;
}
.boutiquev2
{
	width: 900px;
	height: 560px;
	box-shadow: 8px 10px 5px -5px black;
}
.information
{
	color: white;
	margin-bottom: 1%;
	outline: none;
	cursor: pointer;
}
.cv2
{
	width: 470px;
	height: 90px;
}
.siv2
{
	width: 165px;
	height: 81px;
}
.ov2
{
	width: 303px;
	height: 156px;
}
.riotv2
{
	width: 60px;
	height: 30px;
}
.bn
{
	width: 40%;
	margin-left: 5%;
}
.d
{
	width: 40%;
	margin-left: 55%;
}
.fa-chevron-circle-up
{
	color: white;
	font-size: 30px;
}